html {
  width: 100%;
  height: 100%;
  background-color: $matte-black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Roboto+Condensed:wght@300;400&display=swap");
  font-family: "Codystar", cursive;
  font-family: "Roboto Condensed", sans-serif;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
