// Colors

$off-white: #f7f7f7;
$grey: #4f4b47;
$dark-grey: #3b3b3b;
$matte-black:#28282B;
$gold: #ffe919;


// Font Size
$font-xl: 2rem;
$font-l: 1.5rem;
$font-m: 1rem;
$font-s: 0.5rem;

// Spacing
$s-s:0.5rem;
$s-m:1rem;
$s-l: 2rem;
$s-xl: 3rem;

//border size
$bs-s:1px;
$bs-m:2px;
$bs-l:3px;
$bs-xl:4px;

//size 
$s:100px;



// input width
$s-input: 10rem;
$m-input: 20rem;
$l-input: 25rem;
$xl-input: 30rem;
//input height
$s-input-h: 2rem;
$m-input-h: 4rem;
$l-input-h: 6rem;

//regular phones
$desktop-breakpoint: 765px;
//very small phone
$small-phone-breakpoint: 20rem;
//ipad size
$ipad-breakpoint: 60rem;
//ipad-pro size
$ipad-pro-breakpoint: 1024px;
//laptop-size
$laptop-min-breakpoint: 1125px;
$laptop-max-width: 1600px;
