// Colors
$royal-blue: #313685;
$light-royal-blue: #0d97e3;
$light-blue: #71c6fd;
$off-white: #f7f7f7;
$red-exam: #ff0000;
$light-grey: #eeeeee;
$dark-grey: #535353;
$grey: #4f4b47;
$dark-grey-super: #3b3b3b;
$full-star: #ffb178;
$empty-star: #5a5e9d;
$dark-blue: #213a7f;
$very-dark-blue: #122046;
$light-grey: #f5f8f9;
$hacker-u-color: linear-gradient(155deg, #8d25aa, #1046a1);
$turkiz: rgb(5, 152, 168);
$blue-royal: rgb(57, 164, 220);
$dark-blue-royal: rgb(21, 75, 156);
$purpule-blue: rgb(53, 47, 138);
$purpule: rgb(120, 42, 169);

// Font Size
$font-xl: 2rem;
$font-l: 1.5rem;
$font-m: 1rem;
$font-s: 0.5rem;

// Spacing
$s-s: 2rem;
$s-m: 3rem;
$s-l: 6rem;
$s-xl: 10rem;
$s-xxl: 12rem;

// input width
$s-input: 10rem;
$m-input: 20rem;
$l-input: 25rem;
$xl-input: 30rem;
//input height
$s-input-h: 2rem;
$m-input-h: 4rem;
$l-input-h: 6rem;

//regular phones
$desktop-breakpoint: 765px;
//very small phone
$small-phone-breakpoint: 20rem;
//ipad size
$ipad-breakpoint: 60rem;
//ipad-pro size
$ipad-pro-breakpoint: 1024px;
//laptop-size
$laptop-min-breakpoint: 1125px;
$laptop-max-width: 1600px;
